@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.icon-group, .mini_nav, .double-img-button, .book, .book-image, .booktitle,
.round-buttons, .pic, .pic_text, .pic_img, .bottom-menu {
    display: none;
}
.double-img-button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 4px;
    width: 100%;
    margin: 50px 0 30px 0;
}
.double-img-button img {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px;
    width: auto;
    height: auto;
}
.double-img-button img.icon-back {
    width: 15px;
    height: 20px;
    margin-bottom: 2px;
}
.double-img-button img.icon-heart {
    width: 27px;
    height: 25px;
    margin-top: -2px;
}
.round-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.round-button {
    border: none;
    border-radius: 999px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-image {
    display: block;
    margin: 0 auto 40px;
    border-radius: 8px;
}
.booktitle {
    text-align: center;
}
.booktitle h4 {
    margin-bottom: 0.5em;
}
.booktitle p {
    margin-top: 0.25em;
}
.pic_img {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-bottom: 100px;
}
.pic_text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}
.bottom-menu {
    display: none;
}
@media screen and (max-width: 768px) {
    .double-img-button,
    .round-buttons,
    .pic_img,
    .bottom-menu {
        display: flex;
    }
    .book,
    .book-image,
    .booktitle,
    .pic,
    .pic_text {
        display: block;
    }
    .bottom-menu {
        position: fixed;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        width: 90%;
        max-width: 350px;
        height: 70px;
        background-color: rgba(255,200,87,0.8);
        box-shadow: 0px 4px 10px #FFC857;
        border-radius: 100px;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #fff;
        box-sizing: border-box;
        z-index: 9999;
    }
    .bottom-menu img {
        width: 25px;
        filter: brightness(0) invert(1);
    }
}