@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ownglyph_UNZ-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 20px;
}
.logo img {
  width: 150px;
  height: auto;
  padding-left: 100px;
}
.icon-group, .mini_nav, .bottom-menu {
  display: none;
}

.search-bar {
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  border: 3px solid #051C36;
  border-radius: 40px;
  overflow: hidden;
}
.search-bar input {
  flex: 1;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-bar button {
  width: 80px;
  height: 100%;
  background-color: #051C36;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar button img {
  width: 24px;
  height: 24px;
  filter: invert(1); 
}

.top_icon img {
  padding-right: 150px;
}
.main_nav{
  display: flex;
  justify-content: center;
}
.main_nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0 0 40px 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}
.main_nav ul li {
  color: #051C36;
  font-size: 20px;
  cursor: pointer;
}
.main_nav ul li:hover {
  color: #FFC857;
}
.banner img {
  width: 100%;
  display: block;
  margin-bottom: 70px;
}
.book_text {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  margin-bottom: 70px;
  padding-left: 60px;
}
.book_img {
  display: flex;
  overflow: hidden;
  gap: 20px;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
}
.book_img.dragging {
  cursor: grabbing;
}
.postscript {
  margin-bottom: 100px;
}
.pos_text {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  margin: 70px 0;
  padding-left: 60px;
}
.pos_img {
  display: grid;
  grid-template-columns: repeat(2, 641px);
  justify-content: center;
  gap: 20px;
}
footer {
  background: #051C36;
  width: 100%;
  max-width: 1920px;
  padding: 40px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
footer p {
  color: #fff;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}
footer p span {
  font-weight: 700;
  color: #FFC857;
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: flex;
  }
  header {
    padding: 15px 10px;
  }
  .logo img {
    width: 114px;
    height: auto;
    padding: 0;
  }
  .search-bar, .top_icon, .main_nav {
    display: none;
  }
  .icon-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .icon-group img {
    width: 25px;
    height: auto;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  #notificationModal .modal-content {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    opacity: 1;
    animation: slideDown 0.5s forwards;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .close img {
    margin: 25px 0;
  }
  .modal_icon {
    padding-right: 35px;
    margin-left: -20px;
  }
  .modal_text {
    font-family: 'Pretendard-Regular';
    overflow-y: auto;
  }
  .modal_text .serve {
    font-size: 12px;
    color: #7D7D7D;
    margin: 0;
    padding: 0;
  }
  .modal_text .main {
    font-size: 16px;
    margin-top: 7px;
  }
  .read-all-container {
    margin-top: 80px;
    text-align: right;
    padding-right: 40px;
  }
  .read-all {
    background: none;
    border: none;
    color: #7D7D7D;
    font-size: 12px;
    cursor: pointer;
  }
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  #menuModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 35%;
    width: 65%;
    max-width: 300px;
    height: 67%;
    background-color: #ffffff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    animation: slideInFromRight 0.5s forwards;
    overflow: hidden;
    position: fixed;
  }
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  #menuModal .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
  }
  
  #menuModal #closeMenu {
    position: absolute;
    bottom: 20px;
    right: 205px;
  }
  .menu-list ul li {
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 15px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
  }
  .sub-menu li {
    color: #7D7D7D;
    font-size: 14px;
  }
  .sub-menu {
    margin-top: 5px;
    padding-left: 20px;
    list-style: disc;
  }
  .hidden {
    display: none;
  }
  .sub-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 5px;
  }
  .sub-toggle-btn img {
    width: 12px;
    height: 6px;
  }
  .sub-menu li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px 0;
  }
  .menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: fit-content;
  }
  .menu-title {
    font-size: 16px;
  }
  .mini_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;
  }
  .mini_nav ul {
    list-style: none;
    display: flex;
    gap: 140px;
    margin: 0;
    padding: 0;
  }
  .mini_nav ul li a {
    text-decoration: none;
    color: #051C36;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
  }
  .banner img {
    width: 100%;
    height: 402px;
    object-fit: cover;
  }
  .book_text {
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 30px;
  }
  .postscript {
    margin-bottom: 30px;
  }
  .pos_text {
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
    margin: 30px 0;
  }
  .book_img {
    overflow-x: auto;
    white-space: nowrap;
  }
  .book_img img {
    width: 102px;
    height: 140px;
    object-fit: cover;
    display: inline-block;
    margin-right: 5px;
  }
  .pos_img {
    grid-template-columns: repeat(2, 174.22px);
    gap: 10px;
    justify-content: center;
  }
  .pos_img img {
    width: 174.22px;
    height: 98px;
    object-fit: cover;
  }
  .bottom-menu {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 90%;
    max-width: 350px;
    height: 70px;
    background-color: rgba(255,200,87,0.8);
    box-shadow: 0px 4px 10px #FFC857;
    border-radius: 100px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: 9999;
  }
  .bottom-menu img {
    width: 25px;
    filter: brightness(0) invert(1);
  }
  footer {
    width: 100%;
    padding: 20px 10px;
  }
  .foot {
    margin-bottom: 80px;
  }
  footer p {
    font-size: 10px;
    margin: 5px;
    padding: 5px;
  }
}
